name: auto_translator_example
description: Demonstrates setup of the arb_translator package.
version: 1.0.0

environment:
  sdk: '>=2.12.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^2.0.1

  auto_translator:
    path: ../

flutter:
  generate: true
  uses-material-design: true